body{
    background-color: rgb(221, 218, 214);
}

.calculator{
    margin: auto;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    padding: 20px;
    background-color: rgb(76, 82, 88);
    border: 5px solid rgb(53, 57, 61);
    width: 400px;
    height: 70vh;
    border-radius: 15px;

}

.displaybox{
    height: 150px;
    font-size: 40px;
    margin-bottom: 20px;
}

.displayline{
    height: 140px;
    background-color: rgb(151, 155, 158);
    border-radius: 10px;
    text-align: right;
    word-break: break-word;
    font-family: Arial;
    font-size: 70px;
    line-height: 2;
}

.buttons{
    height: 100%;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    gap: 5px;

}

button{
    border-radius: 10px;
    border: 0;
    font-size: 20px;
}
button:hover{
    opacity: 0.8;
}

.sum{
    grid-row: 4/6;
    grid-column: 4/5;
}

.zero{
    grid-row: 5/6;
    grid-column: 1/3;

}